.navbar-default {
    background-color: grey;
    border: 3px solid black;
}

.navbar-brand {
    color: rgb(250, 248, 248) !important;
    font-weight: bold;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(248, 246, 246);
}

.navbar-default .navbar-collapse {
    background-color: grey;
    border-color: black;
}

.navbar-nav > li > a {
    background-color: white;
    color: black !important;
    border: 1px solid #000;
}
.menu-content p {
    background-color: #d3d3d3;
    color: #000;
    padding: 15px;
}

.container h1 {
    color: black;
}

.content-section {
    height: 1000px;
    background-color: gray;
    color: black;
    padding: 20px;
}

.content-section p {
    background-color: gray;
    color: black;
    padding: 10px;
}.centered-heading {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em; 
    margin-bottom: 10px;
}